# todas bibliotecas necessárias para o projeto e que funcionam nessas versões.
pandas==2.3.0
numpy==1.23.5
scikit-learn==1.2.1
matplotlib==3.7.0
seaborn==0.12.2
joblib==1.2.0
imbalanced-learn==0.10.1 
streamlit==1.46.0 
firebase-admin==6.5.0